body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpg'); /* Replace 'background-image.jpg' with your image file name */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px; 
    border-radius: 100px;
    height: 60px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-group label,
.form-group input,
.form-group button {
    width: 100%;
}

.form-group button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.2s;
}

.form-group button:hover {
    background-color: #45a049;
}

/* Adjust the radio buttons layout */
.form-group input[type="radio"] {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Responsive CSS */
@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    .form-group label,
    .form-group input,
    .form-group button,
    .form-group input[type="radio"] {
        width: 100%;
    }
}
